.card {
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card video {
    width: 100%;
    height: fit-content;
    max-height: 100%;
}

.info {
    width: 100%;
    padding: 24px 16px 18px 16px;
    color: #000;
    font-weight: 700;
}
.desc {
    font-size: 12px;
    color: #999;
    text-overflow: -o-ellipsis-lastline;
	overflow: hidden;				
	text-overflow: ellipsis;		
	display: -webkit-box;			
	-webkit-line-clamp: 2;			
	line-clamp: 2;					
	-webkit-box-orient: vertical;	
}

.fullScreen {
    position: fixed;
    height: 100%;
    z-index: 99;
}

.back {
    animation: 2s back forwards;
}

.cardBack {
    animation: 2s cardBack forwards;
}

.cover {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
}

.replayBtn {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 32px;
    bottom: 88px;
    right: 16px;
    cursor: pointer;
}

@keyframes back {
    100% {
        width: 660px;
    }
}
@keyframes cardBack {
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}



