

.content {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex: 1;
    position: relative;
}
.contentList {
    flex-shrink: 0;
    width: 840px;
    overflow-y: auto;
    padding: 0 90px;
    padding-bottom: 50vh;
}
.contentList .contentListInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 38px;
}

.contentList::-webkit-scrollbar {
    width: 0;
}

.leftMenu {
    flex: 1;
    /* padding: 0 16px; */
    padding-top: 20px;
}
.leftMenu .searcher {
    width: 100%;
    margin-right: 50px;
    border-radius: 8px;
    padding: 0 16px;
    height: 40px;
    border: 2px solid #e1e1e1;
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.leftMenu .searcher input {
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
}

.leftMenu .classesIcon {
    width: 100%;
    margin-left: 16px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.leftMenu .classesIcon .iconColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.leftMenu .classesIcon .iconColumn img {
    cursor: pointer;
}

.rightBar {
    flex: 1;
    padding-top: 20px;
}

.rightBar .menu {
    color: #868c92;
    font-size: 12px;
    display: flex;
    gap: 4px;
    margin-bottom: 6px;
}
.countDownLine_stop {
    height: 2px;
    width: 100%;
    background-color: chartreuse;
    margin-top: 4px;
    margin-left: 16px;
}
.countDownLine_start {
    height: 2px;
    width: 100%;
    background-color: chartreuse;
    animation: 2s countDown forwards linear;
    margin-top: 4px;
    margin-left: 16px;
}

@keyframes countDown {
    form {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
